{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1>{% trans "Clients for" %} {{ salon.name }}</h1>

<a href="{% url 'saloon:client_create' salon.pk %}">{% trans "Add New Client" %}</a>

<ul>
{% for client in clients %}
    <li>
        {{ client.user.get_full_name }}
        <a href="{% url 'saloon:client_update' salon.pk client.pk %}">{% trans "Edit" %}</a>
        <a href="{% url 'saloon:client_delete' salon.pk client.pk %}">{% trans "Delete" %}</a>
    </li>
{% empty %}
    <li>{% trans "No clients found." %}</li>
{% endfor %}
</ul>

{% include "pagination.html" %}
{% endblock %}